@font-face {
    font-family: 'Orbitron';
    src: url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Oxanium';
    src: url('/fonts/Oxanium-VariableFont_wght.ttf') format('truetype');
}

.link-custom {
    position: relative;
}

.link-custom::after {
    content: "";
    width: 0%;
    /* animate the underline */
    height: 2px;
    background-color: navy;
    position: absolute;
    left: 0;
    top: 105%;
    transition: all 0.4s;
    /* animate the underline */
}

/* animate the underline */
.link-custom:hover::after {
    width: 100%;
}

.link-custom:hover {
    color: navy;
}