@font-face {
    font-family: 'Orbitron';
    src: url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Oxanium';
    src: url('/fonts/Oxanium-VariableFont_wght.ttf') format('truetype');
}